<div
  class="px-2 py-4 md:px-4 lg:px-6 xl:px-8 shadow-lg bg-white sticky top-0 z-50 left-0 w-full"
>
  <div class="flex items-center justify-between gap-4 max-w-screen-2xl mx-auto">
    <div class="flex items-center gap-3 flex-grow">
      <a
        routerLink="home"
        class="hidden text-2xl text-amber-600 px-4 flex-shrink-0 md:flex items-center justify-center italic font-semibold font-dancing-script"
      >
        <span>shoppers</span>
        <span class="text-emerald-600">.</span>
        <span class="text-gray-600 text-sm translate-y-1/2">com</span>
      </a>
      <button
        (click)="toggleDrawer()"
        class="p-3 rounded-full flex-shrink-0 md:hidden hover:bg-gray-100"
      >
        <img
          src="../../../assets/images/shop-logo.svg"
          alt="menu"
          class="h-6 w-6"
        />
      </button>
      <div
        class="flex items-center justify-start bg-gray-100 rounded-lg py-2 px-3 flex-grow"
      >
        <img
          src="../../../assets/images/search.svg"
          alt="search"
          class="h-6 w-6"
        />
        <input
          type="text"
          id="text"
          placeholder="Search shop..."
          class="bg-transparent px-4 py-1 outline-none w-full"
        />
      </div>
      <div
        *ngIf="activeSection | async as active"
        class="items-center justify-evenly overflow-hidden flex-grow hidden md:flex"
      >
        <button
          (click)="scrollIntoView(category)"
          *ngFor="let category of categories"
          [ngClass]="
            active ===
            category.replace(' ', '_').replace('\'', '').toLowerCase()
              ? 'text-amber-500'
              : 'text-gray-500'
          "
          class="capitalize truncate hover:text-amber-500 font-gotham font-semibold text-sm mx-2"
        >
          {{ category }}
        </button>
      </div>
    </div>
    <button
      class="rounded-full p-3 hover:bg-gray-100 text-gray-200 flex-shrink-0 relative"
    >
      <img
        src="../../../assets/images/cart.svg"
        alt="checkout cart"
        class="h-6 w-6"
      />
      <span
        *ngIf="itemsQuantity !== 0"
        class="absolute top-0 right-0 translate-x-1 -translate-y-1 rounded-full bg-orange-500 text-xs px-2 py-1 text-gray-100 text-center"
        >{{ itemsQuantity }}</span
      >
    </button>
  </div>
</div>
