<div
  class="top-0 left-0 h-[100vh] bg-gray-900 bg-opacity-90 backdrop-blur-md transition-[width] duration-300 overflow-hidden fixed z-50"
  [ngClass]="drawerOpen ? 'w-full' : 'w-0'"
>
  <div class="p-5 h-full">
    <button
      (click)="closeDrawer()"
      class="float-right hover:bg-gray-800 rounded-full text-gray-400 p-2 hover:text-gray-300"
      aria-label="close drawer"
    >
      <!-- close icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 24 24"
        class="w-6 h-6"
      >
        <path
          fill="currentColor"
          d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
        ></path>
      </svg>
    </button>
    <app-vertical-navigation (close)="closeDrawer()"></app-vertical-navigation>
  </div>
</div>
