<mat-card class="p-2">
  <div class="flex justify-between items-center">
    <div>
      <button mat-button [matMenuTriggerFor]="sortByMenu">
        Sort by {{ sortBy }}
        <mat-icon iconPositionEnd>expand_more</mat-icon>
      </button>
      <mat-menu #sortByMenu="matMenu">
        <button (click)="onSortUpdated('Desc')" mat-menu-item>Desc</button>
        <button (click)="onSortUpdated('Asc')" mat-menu-item>Asc</button>
      </mat-menu>
    </div>
    <div class="flex items-center justify-center">
      <div class="mr-4">
        <button mat-button [matMenuTriggerFor]="viewMenu">
          Show {{ itemShowCount }}
          <mat-icon iconPositionEnd>expand_more</mat-icon>
        </button>
        <mat-menu #viewMenu="matMenu">
          <button (click)="onShowCountUpdated(12)" mat-menu-item>12</button>
          <button (click)="onShowCountUpdated(24)" mat-menu-item>24</button>
          <button (click)="onShowCountUpdated(36)" mat-menu-item>36</button>
        </mat-menu>
      </div>
      <mat-button-toggle-group>
        <mat-button-toggle value="list" (click)="onProductViewUpdated(1)">
          <mat-icon>view_list</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="true"
          value="module"
          (click)="onProductViewUpdated(3)"
        >
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="comfy" (click)="onProductViewUpdated(4)">
          <mat-icon>view_comfy</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-card>
