<div class="shadow-md rounded-lg flex items-center justify-center p-5 bg-white">
  <div class="flex-1 h-full"></div>
  <div class="w-80 h-full bg-gray-50 p-5 rounded-lg">
    <p class="text-2xl font-bold mb-10 text-gray-800">Payment Info</p>
    <form [formGroup]="checkoutForm" (ngSubmit)="onCheckOut()">
      <div class="mb-7">
        <p class="text-gray-500 font-semibold text-sm mb-2">Payment Method:</p>
        <div class="flex items-center">
          <input
            formControlName="method"
            type="radio"
            name="method"
            value="card"
          />
          <p class="font-semibold pl-3 text-sm text-gray-700">Credit Card</p>
        </div>
        <div class="flex items-center">
          <input
            formControlName="method"
            type="radio"
            name="method"
            value="paypal"
          />
          <p class="font-semibold pl-3 text-sm text-gray-700">Paypal</p>
        </div>
      </div>
      <div class="mb-7">
        <p class="text-gray-500 font-semibold text-sm mb-2">Name On Card:</p>
        <input
          formControlName="name"
          type="text"
          name="name"
          autocomplete="off"
          class="w-full outline-none rounded-lg px-4 py-2 bg-gray-100 text-gray-700"
        />
      </div>
      <div class="mb-7">
        <p class="text-gray-500 font-semibold text-sm mb-2">Card Number:</p>
        <div class="flex items-center gap-2">
          <input
            formControlName="card_1"
            type="text"
            name="number"
            autocomplete="off"
            maxlength="4"
            class="w-full outline-none rounded-lg px-3 py-2 bg-gray-100 text-gray-700 text-center"
          />
          <input
            formControlName="card_2"
            type="text"
            name="number"
            autocomplete="off"
            maxlength="4"
            class="w-full outline-none rounded-lg px-3 py-2 bg-gray-100 text-gray-700 text-center"
          />
          <input
            formControlName="card_3"
            type="text"
            name="number"
            autocomplete="off"
            maxlength="4"
            class="w-full outline-none rounded-lg px-3 py-2 bg-gray-100 text-gray-700 text-center"
          />
          <input
            formControlName="card_4"
            type="text"
            name="number"
            autocomplete="off"
            maxlength="4"
            class="w-full outline-none rounded-lg px-3 py-2 bg-gray-100 text-gray-700 text-center"
          />
        </div>
      </div>
      <div class="flex items-center">
        <div>
          <p class="text-gray-500 font-semibold text-sm mb-2">
            Expiration Date:
          </p>
          <div class="flex items-center gap-2">
            <input formControlName="expire" type="date" name="expire" />
          </div>
        </div>
        <div>
          <p class="text-gray-500 font-semibold text-sm mb-2">CVV:</p>
          <input
            formControlName="cvv"
            name="cvv"
            class="w-10"
            type="text"
            maxlength="4"
            class="w-full outline-none rounded-lg px-3 py-2 bg-gray-100 text-gray-700 text-center"
          />
        </div>
      </div>
      <button
        class="py-2 px-5 rounded-lg bg-amber-500 text-gray-100 font-semibold w-full"
        type="submit"
      >
        Check Out
      </button>
    </form>
  </div>
</div>
